html 
    head 
        link(rel="stylesheet", href="../index.css")
    body
        h1 User profile page
        h2 Ncikname
        div= nickname
        
        h2 Profile
        img(src = profileimgurl)
        form(action=`/users/${userId}/profile` method='post' enctype='multipart/form-data')
            input(type='file' name='profile')
            button Upload Profile Picture      