<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  href="./index.css">
    <title>로그인 창</title>
    <script>
      function Dbc() {
        document.DBall.submit()
      }
      function signups() {
        document.signup.submit()
      }
    </script>
  </head>
  <body>
    <div class="login-inputWrap">
      <div class="login-inputForm">
        <h1>로그인</h1>
        <form  method="post" name="signup">
        <input type="text" name='email' placeholder="아이디" />
        <input type="password" name='password' placeholder="비밀번호" />
        <input type="password" name='passwordch' placeholder="비빌번호 재확인" />
        <form method="get" name='DBall' action="/readall"><button onclick="Dbc()" type="subimts">DB조회</button></form>
        <button type="submits" onclick="signups" >회원가입</button>
      </form>
      </div>
    </div>
  </body>
</html>
